.navbar{
    background-color: #fff;
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    .home-link{
        text-decoration: none;
        color: black;

    }
}
