h1{
    text-align: center;

}
.datacharts{
    display: flex;
    justify-content: space-around;
}
.w{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 260px;
}
.widget{
    border: none;
    text-align: center;
    .displayValue{
        outline: none;
    }
}
